.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

#main, footer {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

#main {
  height: 400px;

  form {
    margin-bottom: 20px;

    input {
      box-sizing: border-box;
    }

    input[type="text"] {
      float: left;
      width: 700px;
      padding: 10px 20px;
    }

    input[type="submit"] {
      float: right;
      width: 90px;
      padding: 12px;
    }
  }

  #result {
    box-sizing: border-box;
    margin: 0 auto 30px;
    padding: 20px;
    word-wrap: break-word;
    background-color: #f3f3f3;
  }

  #tweet-button {
    a {
      padding: 10px 40px;
      text-decoration: none;
      background-color: #00acee;
      color: #fff;
      border-radius: 4px;
    }

    a:hover {
      opacity: 0.75;
    }
  }
}

footer {
  padding-top: 10px;
  border-top: 1px dotted #999;
  font-size: 13px;
  color: #666;

  a {
    color: #999;
  }
}
