---
title: "#Shuffle105"
---

#main
  %h1
    = current_page.data.title

  %form.clearfix(data-bind="submit: shuffle")
    %input#query(type="text" data-bind="value: query")
    %input(type="submit" value="Shuffle")

  #result(data-bind="text: result, visible: result")

  #tweet-button(data-bind="html: tweetButton, visible: result")
